.register {
  display: grid;
  background-color: gray;
  border: solid #464545;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  align-content: center;
}
.registerForm {
  display: grid;
  grid-template-columns: 200px;
  grid-gap: 10px;
  justify-content: center;
}